<section class="container">
  <h1>
    ember-cli-marked-down
    <img src="http://badge.fury.io/gh/cybertoothca%2Fember-cli-marked-down.svg"
         alt="ember-cli-bootstrap3-popover version">
    <img src="http://badge.fury.io/js/ember-cli-marked-down.svg" alt="ember-cli-bootstrap3-popover npm"/>
  </h1>

  <h2>Examples</h2>
</section>

<section class="container">
  <h3><code>\{{marked-down}}</code> Helper - Basic Example </h3>

  <div class="row">
    <div class="col-sm-4 form-group">
      {{marked-down "> Some quoted text.

Some paragraph.
* Bullet 1
* Bullet 2
  * Bullet 2a

http://github.com

~~Some struck text!~~

1. Numbered List
  1. Another
1. Number Two"
      }}
    </div>
    <div class="col-sm-8">
      {{!-- @formatter:off --}}
<pre>\{{marked-down "> Some quoted text.

Some paragraph.
* Bullet 1
* Bullet 2
  * Bullet 2a

http://github.com

~~Some struck text!~~

1. Numbered List
  1. Another
1. Number Two"
}}
</pre>
      {{!-- @formatter:on --}}
    </div>
  </div>

  <hr/>
</section>

<section class="container">
  <h2>Demonstrating Script Is Not Executing</h2>

  <div class="row">
    <div class="col-sm-4 form-group">
      {{marked-down "Before a script tag that tries to raise an `alert(...)`:

<script type='text/javascript'>alert('XSS Attack Attempt')</script>

...and here after the script tag...there should have not been an alert displayed.

If you did get an alert, please let us know!!!"
      }}
    </div>
    <div class="col-sm-8">
      {{!-- @formatter:off --}}
<pre>\{{marked-down "Before a script tag that tries to raise an `alert(...)`:

&lt;script type='text/javascript'>alert('XSS Attack Attempt')&lt;/script>

...and here after the script tag...there should have not been an alert displayed.

If you did get an alert, please let us know!!!"
}}
</pre>
      {{!-- @formatter:on --}}
    </div>
  </div>

  <hr/>
</section>

<section class="container">
  <h2><code>set-links-target</code> Opening In Another Tab</h2>

  <div class="row">
    <div class="col-sm-4 form-group">
      {{#set-links-target}}
        {{marked-down
          "This link will open in a new tab (`_blank`) https://github.com/cybertoothca/ember-cli-marked-down"}}
      {{/set-links-target}}
    </div>
    <div class="col-sm-8">
      {{!-- @formatter:off --}}
<pre>\{{#set-links-target}}
  \{{marked-down "This link will open in a new tab (`_blank`) https://github.com/cybertoothca/ember-cli-marked-down"}}
\{{/set-links-target}}
</pre>
      {{!-- @formatter:on --}}
    </div>
  </div>
</section>

<section class="container">
  <h2><code>excludeSelfLinks?=true</code> Opening In Same Tab Example</h2>

  <div class="row">
    <div class="col-sm-4 form-group">
      {{#set-links-target excludeSelfLinks?=true}}
        {{marked-down
          "This link will open in the same tab its origin is the same as the current page you're on: [http://ember-cli-marked-down.cybertooth.io/another-page](http://ember-cli-marked-down.cybertooth.io/another-page)

This link continues to open in another tab: [https://github.com/cybertoothca/ember-cli-marked-down](https://github.com/cybertoothca/ember-cli-marked-down)"
        }}
      {{/set-links-target}}
    </div>
    <div class="col-sm-8">
      {{!-- @formatter:off --}}
<pre>\{{#set-links-target}}
  \{{marked-down "This link will open in a new tab (`_blank`) https://github.com/cybertoothca/ember-cli-marked-down"}}
\{{/set-links-target}}
</pre>
      {{!-- @formatter:on --}}
    </div>
  </div>
</section>
